.genshin-map-container {
  --bg-color: rgba(41 37 36 / 0.7);

  .genshin-map {
    cursor: crosshair;
    --arrow-size: 20px;

    .leaflet-popup {
      border-radius: 8px;
      filter: drop-shadow(0 0 0.5rem #00000080);
      backdrop-filter: blur(10px);
      &:not(.no-arrow)::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: var(--arrow-size);
        height: var(--arrow-size);
        background: var(--bg-color);
        transform: translate(-50%, 50%);
        clip-path: polygon(0 50%, 100% 50%, 50% 100%);
      }
      &:not(.no-arrow).leaflet-popup-content-wrapper {
        clip-path: polygon(
          0 0,
          100% 0,
          100% 100%,
          var(--p-xmax) 100%,
          var(--p-xmax) var(--p-ymin),
          var(--p-xmin) var(--p-ymin),
          var(--p-xmin) 100%,
          0 100%
        );
      }
    }

    .leaflet-popup-content-wrapper {
      --p-xmin: calc((100% - var(--arrow-size)) / 2);
      --p-xmax: calc(100% - var(--p-xmin));
      --p-ymin: calc(100% - 1px);
      border: 1px solid rgb(134, 128, 120);
      padding: 8px;
      background: var(--bg-color);
      box-shadow: none;
      overflow: hidden;
    }

    .leaflet-popup-tip-container {
      display: none;
    }

    .leaflet-popup-content {
      margin: 0;
      color: #FFF;
    }
  }
}