.genshin-map-container {
  --bg-color: rgba(41 37 36 / 0.7);
  --border-color: #AA9172;

  .genshin-map {
    cursor: crosshair;
    --arrow-size: 20px;

    .leaflet-popup {
      background: none;
      border-radius: 8px;
      filter: drop-shadow(0 0 0.5rem #00000080);
      backdrop-filter: blur(10px);
    }

    .leaflet-popup-content-wrapper {
      background: var(--bg-color);
      padding: 8px;
      border: 1px solid var(--border-color);
      box-shadow: none;
      overflow: hidden;
    }

    .leaflet-popup-tip-container {
      .leaflet-popup-tip {
        border: 1px solid var(--border-color);
        margin: -8px auto 0;
        background: rgba(41 37 36);
      }
    }

    .leaflet-popup-content {
      margin: 0;
      color: #FFF;
    }
  }
}