.DS_Store
.thumbs.db
node_modules

# build
dist
build

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# 忽略本地环境变量
.env.*local

# 自动更新
auto-imports.d.ts
