:root {
  // 地区主题色
  --gs-color-md: #59DADD;
  --gs-color-ly: #F0B331;
  --gs-color-dq: #D1A1FB;
  --gs-color-xm: #ABDD54;
  --gs-color-fd: #4FABD2;
  --gs-color-apple: #59DADD;
  --gs-color-veluriyam: #ABDD54;

  // 信息等级色
  --gs-color-danger: #CF5945;
  --gs-color-confirm: #F7BA3F;

  --gs-bg-color-light: #F0EBE3;
  --gs-bg-color-dark: #263240;

  --gs-text-color-priamry: #D3BC8E;

  // 顶部 banner 的高度
  --gs-banner-height: 0px;
}

.gs-text-primary {
  color: var(--gs-text-color-priamry);
}
