:root {
  --gs-color-danger: #CF5945;
  --gs-color-confirm: #F7BA3F;

  --gs-bg-color-light: #F0EBE3;
  --gs-bg-color-dark: #263240;

  --gs-text-color-priamry: #D3BC8E;

  // 顶部 banner 的高度
  --gs-banner-height: 0px;
}

.gs-text-primary {
  color: var(--gs-text-color-priamry);
}
