:root {
  --gs-color-danger: #CF5945;

  --gs-bg-color-light: #F0EBE3;
  --gs-bg-color-dark: #263240;

  --gs-text-color-priamry: #D3BC8E;
}

.gs-text-primary {
  color: var(--gs-text-color-priamry);
}
