@keyframes window-transition-anime-out {
  to {
    opacity: 0;
    scale: 0.8;
  }
}

@keyframes window-transition-anime-in {
  from {
    opacity: 0;
    scale: 0.8;
  }
}

::view-transition-old(window-instance) {
  animation: window-transition-anime-out 150ms ease both;
}

::view-transition-new(window-instance) {
  animation: window-transition-anime-in 150ms ease both;
}
