@font-face {
  font-family: MHYG;
  src: url('@/style/fonts/HYWenHei-85W.woff2');
}

.genshin-text {
  font-family: MHYG, sans-serif;
}

.genshin-text-stroke {
  -webkit-text-stroke: 1px rgb(128 128 128 / 0.2);
}
