@font-face {
  font-family: 'MHYG';
  src: url('@/style/fonts/genshinFont.woff2') format('woff2');
}

.genshin-text {
  font-family: 'MHYG', sans-serif;
}

.genshin-text-stroke {
  -webkit-text-stroke: 1px rgb(128 128 128 / 0.2);
}
