.el-overlay {
  &.el-overlay {
    top: var(--gs-banner-height, 0px);
    height: calc(100% - var(--gs-banner-height, 0px));
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-property: background-color;
    overflow: hidden;
  }

  .el-overlay-dialog {
    position: absolute;
  }
}
