.el-popper.is-customized.gs-tooltip {
  --background: rgb(159, 229, 151);
  padding: 10px 24px;
  color: #FFF;
  font-size: 18px;
  border-radius: 999px;
  &.error {
    --background: #CF5945;
  }
  background: var(--background);
  .el-popper__arrow::before {
    background: var(--background);
  }
}
