@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './element-plus/index.scss';
@import './transition/index.scss';
@import './fonts/font.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
}

@supports (width: 100dvw) and (width: 100dvh) {
  .fullscreen {
    width: 100dvw;
    height: 100dvh;;
  }
}

@supports not ((width: 100dvw) or (width: 100dvh)) {
  .fullscreen {
    width: 100vw;
    height: 100vh;
  }
}
